{% extends "base.html" %}

{% block title %}

RetainIQ | Power BI Dashboard

{% endblock %}


{% block content %}

<section class="page-hero">

    <span>
        BUSINESS INTELLIGENCE
    </span>

    <h1>
        Power BI Dashboard
    </h1>

    <p>
        Explore the existing customer churn business
        intelligence dashboard.
    </p>

</section>


<section class="coming-soon">

    <i class="fa-solid fa-chart-column"></i>

    <h2>
        Power BI Integration
    </h2>

    <p>
        Power BI integration will be implemented
        during Stage 4.
    </p>

</section>

{% endblock %}